<ion-content>
  <div class="register-container">
    <ion-row class="row-img">
      <div class="image-container">
        <ion-img class="img-ion" src="assets/imgs/logo2.png"></ion-img>
      </div>
    </ion-row>
    <ion-row>
      <form [formGroup]="form" class="register-form">
        <ion-list class="form-list-container">
          <div class="user-info">
            <ion-item class="register-input">
              <ion-input class="input-field" placeholder="Nome" [(ngModel)]="user.name" formControlName="name" type="text"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['name'].errors && form.controls['name'].dirty" color="danger">O nome é obrigatório</ion-label>

            <ion-item class="register-input">
              <ion-input class="input-field" placeholder="E-mail" [(ngModel)]="user.email" formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['email'].errors && form.controls['email'].dirty" color="danger">O E-mail está incorreto</ion-label>

            <ion-item class="register-input">
              <ion-input class="input-field" placeholder="Login" [(ngModel)]="user.username" s formControlName="username" type="text"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['username'].errors && form.controls['username'].dirty" color="danger">Login inválido</ion-label>

            <ion-item class="register-input">
              <ion-input class="input-field" placeholder="Senha" [(ngModel)]="user.password" formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['password'].errors && form.controls['password'].dirty" color="danger">Senha incorreta </ion-label>

            <ion-item class="register-input">
              <ion-input class="input-field" [(ngModel)]="user.passwordConfirmation" placeholder="Confirme a senha"formControlName="passwordConfirmation" type="password"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['passwordConfirmation'].errors && form.controls['passwordConfirmation'].dirty" color="danger">Senha de confirmação está incorreta</ion-label>
          </div>

          <div class="car-info">
            <ion-item class="register-input">
              <ion-input class="input-field" placeholder="Marca do veículo"[(ngModel)]="user.car.marca" formControlName="marca" type="text"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['marca'].errors && form.controls['marca'].dirty" color="danger"> A marca está incorreta</ion-label>
            <ion-item class="register-input">
              <ion-input class="input-field" placeholder="Modelo do veículo" [(ngModel)]="user.car.modelo" formControlName="modelo" type="text"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['modelo'].errors && form.controls['modelo'].dirty" color="danger">O modelo está incorreto</ion-label>
            <ion-item class="register-input">
              <ion-input oninput="this.value = this.value != null ? this.value.toUpperCase() : this.value" class="input-field" placeholder="Placa do veículo"[(ngModel)]="user.car.placa" formControlName="placa" type="text"></ion-input>
            </ion-item>
            <ion-label *ngIf="form.controls['placa'].errors && form.controls['placa'].dirty" color="danger">A placa está incorreta! Tente no formato ABC-1234</ion-label>
          </div>
        </ion-list>

        <div padding>
          <button class="button-register" [disabled]="!form.valid || !comparePasswords()" (click)="registerClick()" ion-button>Registrar</button>
          <button class="button-go-back"(click)="goBackClick()" ion-button>Voltar</button>
        </div>
      </form>
    </ion-row>
  </div>
</ion-content>