<ion-content padding>

  <div padding>
    <button class="button-login" (click)="logout()" ion-button>Logout</button>
    <button class="button-login" (click)="QrCode()" ion-button>QR Code</button>
    <button class="button-login" (click)="alter()" ion-button>Alterar informações</button>
  </div>

  {{user?.name}} {{user?.email}} {{user?.car?.marca}} {{user?.car?.modelo}} {{user?.car?.placa}}

  quantidade de vezes que a cancela foi utilizada hoje: {{countOfToday}}

  <div *ngIf="transits">
    <div class="row" *ngFor="let transit of transits">
      <div class="col">{{transit.automaticBarrierLocatioName}}</div>
      <div class="col">{{transit.date | date: 'long' }}</div>
      <div class="col"><img src={{transit.img}} /></div>
    </div>
  </div>
</ion-content>
