<ion-content>
  <div class="home-container">
    <div class="home-user-info">
      <div class="user-name-container">
        <span class="home-user-welcome">Olá, {{user?.name}}
        </span>
      </div>
      <div class="vehicle-info">
        <span class="home-user-car-model">Veículo: {{user?.car?.modelo}}</span>
        <span class="home-user-car-plate">Placa: {{user?.car?.placa}} </span>
        <span class="home-user-car-usage">Você utilizou a cancela {{countOfToday}} vezes hoje.</span>
      </div>
    </div>
    <div class="transit-container" *ngIf="transits">
      <div class="row" *ngFor="let transit of transits">
        <div class="col">{{transit.automaticBarrierId}}</div>
        <div class="col">{{transit.automaticBarrierLocatioName}}</div>
        <div class="col">{{transit.date | date: 'long' }}</div>
        <div class="col">
          <img src={{transit.img}} />
        </div>
      </div>
    </div>

    <div class="action-button-container">
      <button class="button-qrcode" (click)="QrCode()" ion-button>QRCode</button>
      <button class="button-logout" (click)="alter()" ion-button>Alterar informações</button>   
      <button class="button-logout" (click)="logout()" ion-button>Logout</button>      
    </div>
  </div>
</ion-content>