page-qrcode {
    .qr-code-container{
        width: 100%;
        text-align: center; 
        height: 100%;
        display: table;
        .qr-code{
            display: table-cell;
            vertical-align: middle;
        }
    }    
}
